<template name="homeMain">
  <div class="row">
    <div class="small-12 medium-10 large-10 medium-centered large-centered columns">
      <div class="row">
        <div class="small-12 medium-5 medium-push-7 large-4 large-push-8 columns">
          {{> loginForm}}
        </div>
        <div class="small-12 medium-7 medium-pull-5 large-8 large-pull-4 columns">
          <h1>accounts-templates <small>styled for <a href="http://foundation.zurb.com/">Zurb Foundation</a></small></h1>
          {{> options}}
        </div>
      </div>
    </div>
  </div>
</template>